#container{
    display: flex;
    flex-direction: column;
}

#containerI{
    display: flex
}

#navigation{
    display: flex;
    justify-content: center;
}

img{
    height: 20px;
}

.lefticon{
    margin-right: auto;
}

.righticon{
    margin-left: auto;
}

input{
    margin-right: 10px;
}