#container {
    display: flex;
    flex-direction: column;
}

#containerI {
    display: flex;
}

#navigation {
    display: flex;
    justify-content: center;
}

img {
    height: 20px;
}

.lefticon {
    margin-right: auto;
}

.righticon {
    margin-left: auto;
}

input {
    width: 500px;
    margin-right: 10px;
}

div {
    margin-bottom: 10px;
}

#suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
    margin-left: auto;
}

#divplayer{
    padding-left: 50px;
}
